/* ****************************
 * Some custom fonts :)
 *************************** */

 /* =Bebas Neue
 -------------------------------------------------------------------- */
@font-face {
    font-family: 'bebas_neuebold';
    src: url('../fonts/bebasneue_bold-webfont.eot');
    src: url('../fonts/bebasneue_bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/bebasneue_bold-webfont.woff') format('woff'),
         url('../fonts/bebasneue_bold-webfont.ttf') format('truetype'),
         url('../fonts/bebasneue_bold-webfont.svg#bebas_neuebold') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'bebas_neuebook';
    src: url('../fonts/bebasneue_book-webfont.eot');
    src: url('../fonts/bebasneue_book-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/bebasneue_book-webfont.woff') format('woff'),
         url('../fonts/bebasneue_book-webfont.ttf') format('truetype'),
         url('../fonts/bebasneue_book-webfont.svg#bebas_neuebook') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'bebas_neuelight';
    src: url('../fonts/bebasneue_light-webfont.eot');
    src: url('../fonts/bebasneue_light-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/bebasneue_light-webfont.woff') format('woff'),
         url('../fonts/bebasneue_light-webfont.ttf') format('truetype'),
         url('../fonts/bebasneue_light-webfont.svg#bebas_neuelight') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'bebas_neue_regularregular';
    src: url('../fonts/bebasneue_regular-webfont.eot');
    src: url('../fonts/bebasneue_regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/bebasneue_regular-webfont.woff') format('woff'),
         url('../fonts/bebasneue_regular-webfont.ttf') format('truetype'),
         url('../fonts/bebasneue_regular-webfont.svg#bebas_neue_regularregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'bebas_neuethin';
    src: url('../fonts/bebasneue_thin-webfont.eot');
    src: url('../fonts/bebasneue_thin-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/bebasneue_thin-webfont.woff') format('woff'),
         url('../fonts/bebasneue_thin-webfont.ttf') format('truetype'),
         url('../fonts/bebasneue_thin-webfont.svg#bebas_neuethin') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'ep';
    src: url('../fonts/ep.eot?51383735');
    src: url('../fonts/ep.eot?51383735#iefix') format('embedded-opentype'),
         url('../fonts/ep.woff?51383735') format('woff'),
         url('../fonts/ep.ttf?51383735') format('truetype'),
         url('../fonts/ep.svg?51383735#ep') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="icon-"]:before,
[class*=" icon-"]:before {
    display: inline-block;
    width: 1em;
    margin-right: .2em;
    margin-left: .2em;
    text-align: center;
    text-decoration: inherit;
    text-transform: none;
    font-family: "ep";
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    line-height: 1em;
    speak: none;
}

.icon-tags:before {content: '\e804';}
.icon-grooveshark:before {content: '\e814';}
.icon-soundcloud:before {content: '\e80b';}
.icon-note:before {content: '\e80f';}
.icon-note-beamed:before {content: '\e810';}
.icon-music:before {content: '\e811';}
.icon-search:before {content: '\e812';}
.icon-mail:before {content: '\e80e';}
.icon-user:before {content: '\e801';}
.icon-chat:before {content: '\e802';}
.icon-location:before {content: '\e80c';}
.icon-youtube:before {content: '\e813';}
.icon-calendar:before {content: '\e800';}
.icon-down-open:before {content: '\e80d';}
.icon-twitter:before {content: '\e805';}
.icon-facebook:before {content: '\e806';}
.icon-gplus:before {content: '\e807';}
.icon-pinterest:before {content: '\e808';}
.icon-spotify:before {content: '\e809';}
.icon-instagram:before {content: '\e80a';}
.icon-folder:before {content: '\e803';}