@charset "UTF-8";
/* ====================================================== *
 *           S O M M A I R E   -   A I D E                *
 * ====================================================== *

    Cette feuille de style est découpée en plusieurs
    grandes sections, puis en sous-sections. Pour vous
    rendre dans une section facilement, faites un Ctrl+F
    et tapez simplement le numéro/nom de la section.

    Le noms des classes/ID's sont TOUJOURS en anglais

 * ============================ *
 *      S O M M A I R E         *
 * ============================ *

     1. =Structure
        1.1. !Typography stuff
     2. =Header
        2.1. !Logo
        2.2. !Navigation
     3. =Homepage
        3.1. !Slider
        3.2. !About
        3.3. !Soutient
        3.4. !Agenda
     4. =Blog
        4.1. !Header
        4.2. !Metas
        4.3. !Content
        4.4. !Footer
     5. =Comments
     6. =Pages
     7. =Playlists
     8. =Podcasts
     9. =404
    10. =Search
    11. =Archives
    12. =Category
    13. =Tags
    14. =Footer
    15. =Widgets
    16. =WP Required stuff
    17. =Helpers
*/

/* 1. =Structure
-------------------------------------------------------------------- */

body {
    font: 400 16px/1.4 'PT Sans',sans-serif;
    color: #444;
    background: url(../images/bg.jpg) no-repeat center center fixed;
    background-size: cover;
    -webkit-font-smoothing: antialiased;
}

.ep-container {
    position: relative;
    width: 1000px;
    margin: 40px auto;
    border-radius: 4px;
    background-color: #fff;
    -webkit-box-shadow: 0 0 21px rgba(0,0,0,.1);
    box-shadow: 0 0 21px rgba(0,0,0,.1);
}

.ep-content {
    position: relative;
}

.ep-inner {
    position: relative;
    margin: 0 auto;
    max-width: 960px;
}

/* =1.1. !Typography stuff
------------------------------------------- */

a,
a:visited {
    color: #738AC7;
    -webkit-transition: color .2s;
    transition: color .2s;
}

a:hover {
    color: #01749F;
    -webkit-transition: color .3s;
    transition: color .3s;
}

p {
    font-size: 16px;
    line-height: 1.6;
    margin: 1em 0;
}

em,cite,var,
address, dfn,
blockquote, q {
    font-style: italic;
}

/* Headings
------------------------------------- */
h1,h2,h3 {font-weight: 600;}
h1 {margin: 1em 0 .5em; font-size: 27px;}
h2 {margin: 1em 0 .5em; font-size: 24px;}
h3 {margin: .8em 0 .4em; font-size: 20px;}
h4 {margin: .6em 0 .3em; font-size: 18px;}

/* Definition lists
------------------------------------- */
dl {width:450px;}

dt{
    font-weight:bold;
    font-size: 15px;
    margin-bottom:0.7em;
}

dd{
    font-size: 14px;
    margin: 0 0 20px 0;
    padding-left: 40px;
}

/* =Blockquotes
------------------------------------- */

blockquote {
    position: relative;
    margin: 20px;
    padding: 1px 20px;
    font-family: Georgia,"Times New Roman",Times,serif;
    line-height: 26px;
    color: #777;
    background-color: #ece6d6;
    background-color: rgba(0,0,0,.02);
}

blockquote:before {
    content: "\201C";
    display: block;
    position: absolute;
    top: 0;
    left: -20px;
    font-size: 80px;
    color: #7a7a7a;
}

blockquote cite {
    display: block;
    margin-top: 5px;
    font-size: 14px;
    color: #999;
}

blockquote cite:before {
    content: "\2014 \2009";
}

/* =Entry tables
------------------------ */
table {
    width: 100%;
    margin-bottom: 24px;
    border: 1px solid #d8d8d8;
    border: 1px solid rgba(0,0,0,.05);
    border-collapse: collapse;
    border-color: #f0f0f0;
    border-spacing: 2px;
}

table, th,
table thead td,
table thead th {
    font-weight: 600;
}

table td,
table th {
    padding: 7px 11px;
    border: 1px solid #f0f0f0;
    border-width: 0 1px 1px 0;
    text-align: left;
    font-weight: 400;
    background-color: #ece6d6;
    background-color: rgba(0,0,0,.02);
}

/* Content lists
------------------------------------- */
ul,ol {
    margin: 0 0 24px 40px;
}

ul {list-style: disc;}
ol {list-style: decimal;}
li {margin: 3px 0;}

ul ul,
ol ul {
    margin-left: 30px;
    list-style: circle;
}

ol ol ul,
ol ul ul,
ul ol ul,
ul ul ul {
    list-style: square;
}

/* Address
------------------------------------- */
address {
    margin-bottom: 18px;
    padding-left: 20px;
    line-height: 1.4;
}

/* cite / code / pre / q / abbr
------------------------------------- */
cite {
    font-size: 14px;
}

code,kbd,tt,var,samp {
    font-family: 'andale mono','lucida console',monospace;
    font-size: 14px;
    -webkit-hyphens: none;
    -moz-hyphens: none;
    hyphens: none;
    word-wrap: break-word;
    -ms-hyphens: none;
}

code,kbd {
    margin: 0 1px;
    padding: 3px 5px 2px;
    font-size: 13px;
    background-color: #ece6d6;
    background-color: rgba(0,0,0,.02);
}

pre {
    display: block;
    margin: 0 0 24px 0;
    padding: 15px;
    border: 1px solid #f0f0f0;
    border: 1px solid rgba(0,0,0,0.1);
    border-radius: 3px;
    overflow-x: visible;
    direction: ltr;
    font: 11px/19px 'andale mono','lucida console',monospace;
    white-space: pre;
    white-space: pre-wrap;
    color: #666;
    background-color: #ece6d6;
    background-color: rgba(0,0,0,.02);
    -ms-overflow-x: visible;
    word-wrap: break-word;
}

big {font-size: 120%; font-weight: 300;}

ins {
    border-bottom: 1px dotted #BDBDBD;
    text-decoration: none;
    background-color: #fff9c0;
}

abbr[title], acronym[title] {
    border-bottom: 1px dashed #ccc;
    border-color: #d8d8d8;
    border-color: rgba(0,0,0,.5);
    cursor: help;
}

/* Boutons
------------------------------------- */

.btn {
    display: inline-block;
    position: relative;
    margin-right: 3px;
    margin-bottom: 5px;
    padding: 0;
    border: none;
    font-size: 20px;
    letter-spacing: 1px;
    outline: 0;
    color: #b4b4b4;
    background-color: transparent;
    -webkit-transition: all .3s;
    transition: all .3s;
}

.ep-sndc:hover {color: #f50;}
.ep-sptf:hover {color: #82bf00;}

/* 2. =Header
-------------------------------------------------------------------- */

.ep-header {
    padding: 10px 0;
}

/* 2.1. !Logo
------------------------------- */
.ep-logo {
    float: left;
    position: relative;
    margin: 10px auto;
    min-width: 100px;
}

/* 2.2. !Navigation
------------------------------- */
.ep-nav {margin: 0;}

.ep-nav-wrap {
    float: right;
    position: relative;
    font-family: 'bebas_neuebook';
}

.ep-nav li {
    margin: 0;
    display: inline-block;
    zoom: 1;
    vertical-align: top;
    *display: inline;
}

.ep-nav li a {
    display: block;
    padding: 36px 7px;
    text-transform: uppercase;
    font-size: 22px;
    color: #000;
    -webkit-transition: all .3s ease-out;
    transition: all .3s ease-out;
}

.ep-nav li a:hover {
    color: #c93338;
    -webkit-transition: all .3s ease-out;
    transition: all .3s ease-out;

    -webkit-transform: translateY(2px);
    -ms-transform: translateY(2px);
    transform: translateY(2px);
}

.ep-nav .active a {
    color: #9aaddd;
}

.dropdown-menu {
    margin: 0;
    opacity: 0;
    filter: alpha(opacity=0);
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    position: absolute;
    top: 68%;
    left: 0;
    -webkit-transition: opacity .3s ease-out;
    transition: opacity .3s ease-out;
}

.dropdown-menu > li > a {
    font-size: 18px;
    padding: 7px;
}

.dropdown-menu > li > a:hover {
    color: #9aaddd;
}

.dropdown:hover .dropdown-menu {
    opacity: 1;
    filter: alpha(opacity=100);
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    -webkit-transition: opacity .3s ease-out;
    transition: opacity .3s ease-out;
}

/* 3. =Homepage
-------------------------------------------------------------------- */

.ep-col-home {
    display: inline-block;
    float: left;
    position: relative;
    width: 48%;
    margin-bottom: 15px;
    margin-right: 2%;
}

.ep-col-home-last {
    float: right;
}

/* 3.1. !Slider
-------------------------------------- */
.ep-slider {
    margin-bottom: 40px;
}

/* 3.2. !About
-------------------------------------- */
.ep-col-home p {
    margin: 0 20px;
    padding: .75em 0;
    text-align: justify;
    line-height: 1.2;
}

.ep-col-home h1,
.ep-col-home-last h1 {
    margin-bottom: 10px;
    margin-left: 20px;
    font-family: 'bebas_neuebold';
    font-size: 26px;
    color: #423d3d;
}

.ep-col-home-last h1 {
    margin-left: 0;
    margin-bottom: 23px;
}

/* 3.3. !Soutient
-------------------------------------- */
.ep-support-home {margin-bottom: 30px;}

.ep-support-home img {
    float: right;
    width: 400px;
    height: 180px;
    margin-right: 20px;
    margin-left: 10px;
    max-width: 100%;
    opacity: 1;
    -webkit-box-shadow: 0 0 0 8px #f7f7f7;
    box-shadow: 0 0 0 8px #f7f7f7;
    -webkit-transition: opacity 0.2s;
    transition: opacity 0.2s;
    filter: alpha(opacity=100);
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100) ";
}

.ep-support-home img:hover {
    opacity: 0.6;
    filter: alpha(opacity=60);
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=60)";
    -webkit-transition: opacity 0.2s;
    transition: opacity 0.2s;
}

/* 3.4. !Agenda
-------------------------------------- */
.ep-agenda-home ul {
    margin: 0;
    padding: 0;
    line-height: 1;
    max-width: 97%;
    list-style: none;
}

.ep-agenda-home ul li {
    margin-bottom: 10px;
    padding: 10px;
    -webkit-box-shadow: inset 0 0 0 1px #e7e7e7;
    box-shadow: inset 0 0 0 1px #e7e7e7;
    background-color: #f7f7f7;
    -webkit-transition: all .2s linear;
    transition: all .2s linear;
}

.ep-agenda-home ul li:hover {
    -webkit-box-shadow: inset 0 0 0 1px #d6d6d6, 0 1px 1px #d6d6d6;
    box-shadow: inset 0 0 0 1px #d6d6d6, 0 1px 1px #d6d6d6;
    -webkit-transition: all .3s linear;
    transition: all .3s linear;
}

.ep-event-date,
.ep-event-content {
    display: inline-block;
}

.ep-agenda-home span {
    display: block;
}

.ep-event-month {
    text-align: center;
    text-transform: uppercase;
    font-family: 'bebas_neuebold';
    font-size: 24px;
    color: #bc4c40;
}

.ep-event-date {
    margin-right: 5px;
    text-align: center;
    font-family: 'bebas_neuebold';
    font-size: 37px;
    color: #333;
}

.ep-event-day {
    margin-right: 3px;
}

.ep-event-content {
    font-family: 'bebas_neue_regularregular';
    font-size: 22px;
    vertical-align: top;
    color: #333;
}

.ep-event-location {
    font-size: 20px;
    color: #bbb;
}

.ep-event-title {
    max-width: 330px;
}

/* 4. =Blog
-------------------------------------------------------------------- */

.ep-main {
    width: auto;
    margin-right: 315px;
}

.ep-main article {
    margin-bottom: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid #d8d8d8;
}

.ep-main article:last-of-type {
    border-bottom: 0;
}

.ep-sidebar {
    position: absolute;
    top: 0;
    right: 0;
    width: 278px;
}

/* Post nav links */
.post-nav a {float: left;}
.post-nav a:last-of-type {float: right;}

.post-nav a,
input[type="submit"] {
    opacity: 1;
    filter: alpha(opacity=100);
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100) ";
    display: block;
    width: 80px;
    padding: 3px 10px;
    text-align: center;
    line-height: 24px;
    color: #fff;
    background-color: #9aaddd;
    box-shadow: 0 1px 2px rgba(0,0,0,.2);
    -webkit-transition: all .15s ease-in-out;
    transition: all .15s ease-in-out;
}

.post-nav a:hover,
input[type="submit"]:hover {
    opacity: .6;
    filter: alpha(opacity=60);
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=60) ";
    -webkit-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}

/* 4.1 !Header
------------------------------------------ */
.ep-post-title {
    margin: 10px 0;
    font-size: 21px;
    font-weight: 400;
}

/* 4.2 !Metas
------------------------------------------ */
.ep-post-metas {
    margin-bottom: 15px;
    margin-left: 0;
    font-size: 12px;
    color: #999;
}

.ep-post-metas li {
    display: inline-block;
    zoom: 1;
    margin: 0;
    padding-right: 10px;
    vertical-align: top;
    *display: inline;
}

.ep-post-metas i {margin-right: 3px;}

/* 4.3 !Content
------------------------------------------ */
.read-more {
    display: inline-block;
    zoom: 1;
    margin-top: 24px;
    vertical-align: top;
    *display: inline;
}

/* 4.4 !Footer
------------------------------------------ */

.ep-post-footer {
    margin-top: 20px;
    padding: 10px 0;
    border-top: 1px solid #d8d8d8;
    border-bottom: 1px solid #d8d8d8;
    opacity: .6;
    -webkit-transition: opacity .2s linear;
    transition: opacity .2s linear;
    filter: alpha(opacity=60);
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=60)";
}

.ep-post-footer:hover {
    opacity: 1;
    -webkit-transition: opacity .2s linear;
    transition: opacity .2s linear;
    filter: alpha(opacity=100);
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
}

.footer-metas span {font-weight: 600;}
.tag-links a:before {content: "#";}
.tag-links a:after {content: " - ";}
.tag-links a:last-of-type:after {display: none;}

/* 5. =Comments
-------------------------------------------------------------------- */

.comments-title,
.comment-reply-title {
    margin-bottom: 20px;
    font-size: 18px;
    font-weight: 600;
    line-height: 1.6;
    color: #666;
}

.commentlist li,
.commentlist .children {
    margin: 0;
    list-style: none;
}

.comment-body {
    margin-bottom: 15px;
}

.comment-details {
    position: relative;
    margin-left: 68px;
    padding: 10px 20px;
    border: 1px solid #E9E9E9;
}

.comment-avatar {
    position: absolute;
    top: 0;
    left: -68px;
    border: 4px solid #dfdfdf;
}

.comment-avatar img {
    display: block;
    width: 50px;
    height: 50px;
}

.comment-author {
    color: #3e3e3e;
}

.comment-content {
    margin-top: 5px;
}

.children .depth-10,.children .depth-2,.children .depth-3,
.children .depth-4,.children .depth-5,.children .depth-6,
.children .depth-7,.children .depth-8,.children .depth-9 {
    margin: 0 0 0 45px;
}

.comment-reply-link {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    padding: 6px 12px;
    border-bottom-left-radius: 2px;
    font-size: .786em;
    color: #888;
    background-color: #d0cdcb;
    background-color: rgba(0,0,0,.05);
}

.bypostauthor>.comment-body>.comment-details>.comment-avatar {
    border-color: #738AC7;
}

.comment-notes {
    margin-bottom: 20px;
    font-style: italic;
}

.required {
    color: #c93338;
}

input[type=email],
input[type=text],
input[type=url],
textarea {
    display: block;
    -webkit-appearance: none;
    -moz-appearance: none;
    box-sizing: border-box;
    margin-left: 0;
    padding: 0 10px;
    max-width: 100%;
    border: 1px solid #D7D8D9;
    font-family: 'Open Sans',sans-serif;
    font-size: 15px;
    color: #999;
    background-color: #fff;
    box-shadow: 0 1px 0 0 #d8d8d8;
    box-shadow: 0 1px 0 0 rgba(0,0,0,.05);
    transition: all .4s ease;
}

input[type=email],
input[type=text],
input[type=url] {
    padding-top: 7px;
    padding-bottom: 7px;
}

textarea {
    width: 100%;
    padding: 10px;
}

input[type=email],
input[type=text],
input[type=url] {
    max-width: 70%;
}

input[type=email]:focus,
input[type=text]:focus,
input[type=url]:focus,
textarea:focus {
    border-color: #abadb3;
    outline: 0;
}

.comment-form-author,
.comment-form-email,
.comment-form-url,
.comment-form-comment {
    margin: 0 0 20px;
}

.comment-form input {
    float: left;
    margin-right: 10px;
}

.comment-form label {
    font-size: .929em;
    font-weight: 400;
    cursor: pointer;
}

.comment-form-comment label {display: none;}
.comment-form input {margin-top: 0!important;}

.comment-form #author,
.comment-form #email,
.comment-form #url {
    width: 40%;
    margin-top: 10px;
    font-size: 15px;
}

.comment-form textarea {
    width: 100%;
    margin-top: 10px;
    font-size: 15px;
}

.form-submit #submit {
    float: none;
    margin: 0;
    width: auto;
    border: none;
}

/* 6. =Pages
-------------------------------------------------------------------- */

body.page .ep-main,
body.archive .ep-main {
    margin-right: 0;
}

/* 7. =Playlists
-------------------------------------------------------------------- */

.playlist-thumb img {
    max-width: 316px;
}

.ep-playlist-col {
    position: relative;
    display: inline-block;
    width: 33%;
    margin: 3px 0;
    height: auto;
}

.playlist-infos {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 46px;
    opacity: 0;
    background-color: rgba(255,255,255,.6);
    -webkit-transition: all .2s ease-in;
    transition: all .2s ease-in;
    filter: alpha(opacity=0);
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
}

.playlist-btn-icons {
    position: absolute;
    top: 0;
    right: 0;
    opacity: 0;
    -webkit-transition: all .2s ease-in;
    transition: all .2s ease-in;
    filter: alpha(opacity=0);
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
}

.playlist-btn-icons a {
    display: block;
    padding: 5px;
    color: #000;
    background-color: rgba(255,255,255,.6);
}

.playlist-btn-icons a:hover {
    color: #fff;
    background-color: #222;
    -webkit-transition: all .2s ease-in;
    transition: all .2s ease-in;
}

.ep-playlist-col:hover > .podcast-play,
.ep-playlist-col:hover > .podcast-infos,
.ep-playlist-col:hover > .playlist-infos,
.ep-playlist-col:hover > .playlist-btn-icons {
    opacity: 1;
    -webkit-transition: all .2s ease-in;
    transition: all .2s ease-in;
    filter: alpha(opacity=100);
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
}

.playlist-play {
    float: left;
    position: relative;
    width: 38px;
    height: 40px;
    margin: 0;
    background-color: transparent;
    -webkit-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
    cursor: pointer;
}

.podcast-play:hover,
.playlist-play:hover {
    background-color: #222;
}

.ep-play-btn:before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    border-radius: 50%;
    background: transparent;
}

.ep-play-btn:after {
    content: "";
    position: absolute;
    top: 37%;
    left: 41%;
    margin: 0;
    border-style: solid;
    border-color: transparent transparent transparent #000;
    border-width: 6px 0 6px 10px;
    -webkit-transition: all .1s;
    transition: all .1s;
}

.podcast-play:hover .ep-play-btn:after,
.playlist-play:hover .ep-play-btn:after {
    border-color: transparent transparent transparent #fff;
}

.playlist-title {
    display: inline-block;
    margin: 0;
    margin-left: 6px;
    font-family: 'bebas_neuebold';
    font-size: 15px;
    vertical-align: baseline;
    color: #000;
}

.playlist-genre {
    display: block;
    margin-left: 43px;
    font-size: 13px;
    line-height: 1;
    color: #000;
}

/* 8. =Podcasts
-------------------------------------------------------------------- */

body.single-ep-podcasts .ep-main {margin-right: 0;}

.podcast-play {
    position: absolute;
    top: 30%;
    left: 43%;
    width: 40px;
    height: 40px;
    margin: 0;
    border-radius: 100%;
    opacity: 0;
    background-color: rgba(255,255,255,.6);
    -webkit-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
    cursor: pointer;
    filter: alpha(opacity=0);
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
}

.podcast-infos {
    position: absolute;
    bottom: 0;
    width: 100%;
    opacity: 0;
    background-color: rgba(255,255,255,.6);
    -webkit-transition: all .2s ease-in;
    transition: all .2s ease-in;
    filter: alpha(opacity=0);
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
}

h2.podcast-title {
    margin: 0;
    padding: 11px 0;
    text-align: center;
    font-family: 'bebas_neuebold';
    font-size: 18px;
    line-height: 1;
    color: #000;
}

/* 9. =404
-------------------------------------------------------------------- */

/* 10. =Search
-------------------------------------------------------------------- */

/* 11. =Archives
-------------------------------------------------------------------- */

body.archive .ep-thumbnail {
    float: left;
    margin: 0 10px 10px 0;
    width: 450px;
}

body.archive .ep-thumbnail img {
    border-bottom: 5px solid #cbd1d1;
}

body.archive .ep-post-title {margin-top: 0;}
body.archive .ep-post-header {position: relative;}
body.archive article {border-bottom: none;}
body.archive .read-more {margin-top: 0;}

body.archive .ep-post-metas {
    position: absolute;
    top: 4px;
    right: 0;
}

/* 12. =Category
-------------------------------------------------------------------- */

.ep-sub-header {
    width: 100%;
    margin-bottom: 40px;
    border-bottom: 1px solid #ddd;
}

.ep-sub-header h2 {
    margin: 10px 0;
    padding-left: 20px;
    font-family: 'bebas_neuebold';
    font-size: 40px;
    color: #423d3d;
}

/* 14. =Footer
-------------------------------------------------------------------- */

.ep-footer {
    position: relative;
    margin: 40px auto;
    padding: 10px 0;
    border-top: 1px solid #ddd;
    overflow: hidden;
    font-size: 11px;
}

.copyright-left,
.copyright-right {
    width: 50%;
}

.copyright-left {
    float: left;
}

.copyright-right {
    float: right;
    text-align: right;
}

.ep-footer span {
    display: block;
    margin-bottom: 5px;
}

/* 15. =Widgets
-------------------------------------------------------------------- */

.ep-widget {
    margin: 20px 0;
}

.widget-title {
    margin: 15px 0;
    border-bottom: 1px solid #d8d8d8;
    font-family: 'bebas_neue_regularregular';
    font-size: 21px;
    font-weight: normal;
    color: #777;
}

/* EP Recents posts */
.recent-post {
    margin-bottom: 14px;
}

.recent-post img {
    width: 50px;
    height: 58px;
}

.recent-thumb {
    float: left;
    margin: 0 5px 0 0;
    padding: 0 5px 0 0;
}

.recent-infos h6 {
    font-size: 15px;
    font-weight: normal;
}

.recent-date,
.recent-author {
    display: inline-block;
    zoom: 1;
    font-size: 13px;
    vertical-align: top;
    color: #999;
    *display: inline;
}

/* EP Search widget */
.widget_search {
    margin-top: 0;
}

.widget_search form {
    position: relative;
}

.widget_search .search-btn {
    position: absolute;
    top: 4px;
    right: 0;
    border: none;
    font-size: 16px;
    color: #b2b2b6;
    background: none;
}

.widget_search .search-field {
    width: 90%;
    margin: 0 auto;
    padding: 8px 12px;
    border: 1px solid #ddd;
    font-family: 'PT Sans',sans-serif;
    font-size: 12px;
    color: #b2b2b6;
}

/* EP tag cloud */
.ep-tag-cloud li {
    display: inline-block;
    zoom: 1;
    margin: 4px 0;
    vertical-align: top;
    *display: inline;
}

.ep-tag-cloud li a {
    padding: 3px 5px;
    border: 1px solid #ddd;
    -webkit-transition: all .2s linear;
    transition: all .2s linear;
}

.ep-tag-cloud li a:hover {
    border-color: #cecece;
    box-shadow: 0 1px 1px rgba(0,0,0,.06);
    -webkit-transition: all .2s linear;
    transition: all .2s linear;
}

/* EP recent comments widget */
.widget_recent_comments ul,
.wp-tag-cloud {
    margin: 0;
    list-style: none;
}

/* 16. =WP Required stuff
-------------------------------------------------------------------- */

.sticky {

}

.alignleft {
    display: inline;
    float: left;
    margin-right: 1.5em;
}

.alignright {
    display: inline;
    float: right;
    margin-left: 1.5em;
}

.aligncenter {
    display: block;
    clear: both;
    margin: 0 auto;
}

.assistive-text {
    position: absolute;
    clip: rect(1px 1px 1px 1px);
    clip: rect(1px,1px,1px,1px);
}

.wp-caption {
    padding: 10px;
    max-width: 100%;
    background-color: #EBE4D4;
}

.gallery-caption {

}

.wp-caption-text {
    padding-top: 10px;
    text-align: center;
    font-size: 13px;
    font-style: italic;
    color: #888888;
}

/* 17. =Helpers
-------------------------------------------------------------------- */

.ep-cf:before,
.ep-cf:after {
    content: " ";
    display: table;
}

.ep-cf:after {clear: both;}
.clear {clear: both;}
